@import "../../scss/toolkit";

.pixel-editor {
  @include second-app-container-shared-config();

  ::selection {
    background-color: #0FF;
  }

  &__toolbar {
    display: flex;
    width: 120px;
    flex-direction: column;
    flex-wrap: wrap;
    border-right: 1px solid #FFF;
    margin-right: 30px;
    resize: horizontal;

    button {
      flex: 1;
      flex-basis: 100%;
    }
  }

  &__canvas {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 40px;
    background-color: #FFF;

    &-tile {
      box-sizing: border-box;
      padding: 0;
      background-color: #FFF;
      border-radius: 0;
    }
  }

  &__preview {
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 20px;
    background: rgba(240, 46, 170, .5);
    box-shadow: rgba(240, 46, 170, .4) 5px 5px, rgba(240, 46, 170, .3) 10px 10px, rgba(240, 46, 170, .2) 15px 15px, rgba(240, 46, 170, .1) 20px 20px, rgba(240, 46, 170, .05) 25px 25px;

    &:before {
      margin-bottom: 5px;
      content: "Preview";
      font-size: 10px;
      text-transform: uppercase;
    }

    @at-root %preview-element-container {
      display: flex;
      background-color: #FFF;
    }

    .canvas-element-container {
      @extend %preview-element-container;
    }

    .svg-element-container {
      @extend %preview-element-container;

      margin-top: 15px;
    }
  }

  #textarea-export-value {
    margin-top: 15px;
    resize: none;
  }
}
