@import
  "./scss/settings/mixin",
  "./scss/settings/normalize",
  "./scss/settings/variables",
  "./scss/settings/zindex";

$mobile-resolution: 900;

@import
  "./scss/browser-behaviours",
  "./scss/footer",
  "./scss/footer-notes",
  "./scss/content-elements",
  "./scss/fake-html",
  "./scss/promo-box",
  "./scss/context-menu",
  "./scss/mouse-tooltip";

// trumps
@import "./scss/helpers";
