%context-menu-shared-settings {
  z-index: $zi_context_menu;
  background-color: #262626;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
}

%context-menu-items-shared {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  justify-content: space-evenly;
  padding: 3px 0;
  border: 0;
  color: #FFF;
  cursor: default;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: none;

  &:hover {
    background-color: #2E2E2E;
  }
}

.context-menu {
  @extend %context-menu-shared-settings;

  $offset: 6px;
  $menu_width: 250px;
  $icon_size: 21px;

  position: absolute;
  display: none;
  width: $menu_width;
  padding: $offset;

  &-primary-item {
    @extend %context-menu-items-shared;

    position: relative;
  }

  &.--display {
    display: block;
  }

  &-hr {
    width: 100%;
    height: 1px;
    margin: 4px 0;
    background-color: #2F2F2F;
  }

  &-sub-menu {
    @extend %context-menu-shared-settings;

    position: absolute;
    top: -5px;
    left: calc(100% + 1px);
    display: none;
    width: 100%;
    padding: $offset;

    .--bottom & {
      top: unset;
      bottom: -5px;
    }

    .--left & {
      left: -100%;
    }

    .context-menu-primary-item:hover & {
      display: block;
    }
  }

  &-secondary-item {
    @extend %context-menu-items-shared;
  }

  &-label {
    flex-grow: 1;
    margin-left: $offset / 2;
  }

  @at-root %svg-container {
    display: flex;
    align-items: center;
  }

  &-icon {
    @extend %svg-container;

    width: $icon_size;
    margin-right: $offset;
    margin-left: $offset / 2;

    svg {
      width: $icon_size;
      height: $icon_size;

      path[fill="transparent"] {
        fill: transparent;
      }
    }

    @include paint-svg(#FFF);
  }

  // Indicators

  &-has-sub-menu-arrow {
    $arrow-size: 5px;

    width: 0;
    height: 0;
    border-top: $arrow-size solid transparent;
    border-bottom: $arrow-size solid transparent;
    border-left: $arrow-size solid #FFF;
    margin-right: $offset;
    opacity: .125;

    .--left & {
      order: -1;
      border-right: $arrow-size solid #FFF;
      border-left: 0;
    }
  }

  &-link-sign {
    @extend %svg-container;

    svg {
      width: 14px;
      height: 14px;
    }

    @include paint-svg(#FFF);
  }
}
