h1 {
  font-size: 16px;
  text-transform: uppercase;
}

a {
  border-bottom: 1px solid currentColor;
  text-decoration: none;
}

#main-app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;

  @include main-app-element-controller();

  @include not-mobile {
    justify-content: center;
  }

  p,
  h1 {
    margin: 0 0 10px 0;
  }
}
