%context-menu-shared-settings {
  z-index: $zi_context_menu;
  padding: 5px 0;
  background-color: #262626;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
}

%context-menu-items-shared {
  display: block;
  padding: 10px;
  border: 0;
  color: #FFF;
  cursor: default;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: none;
}

.context-menu {
  @extend %context-menu-shared-settings;

  position: absolute;
  display: none;
  min-width: 200px;
  max-width: 200px;
  padding: 10px;

  &-primary-item {
    @extend %context-menu-items-shared;

    position: relative;
  }

  &.--display {
    display: block;
  }

  &-sub-menu {
    @extend %context-menu-shared-settings;

    position: absolute;
    top: -5px;
    left: 100%;
    display: none;
    width: 100%;

    .--left & {
      left: -100%;
    }

    .context-menu-primary-item:hover & {
      display: block;
    }
  }

  &-secondary-item {
    @extend %context-menu-items-shared;
  }
}
