.html {
  &-code {
    position: relative;
    color: #FFF;

    @at-root %hover-before-after {
      display: none;

      @include not-mobile {
        position: absolute;
        bottom: 1px;
        display: block;
        font-size: 14px;
        font-weight: 400;
        pointer-events: none;
        text-transform: none;
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
        white-space: nowrap;
      }
    }

    .hover-before {
      @extend %hover-before-after;

      right: calc(100% + 1px);
    }

    .hover-after {
      @extend %hover-before-after;

      left: calc(100% + 1px);
    }
  }

  &-space {
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
      opacity: .2;
      pointer-events: none;
      transform: scale(.6);

      &::selection {
        background: transparent;
      }
    }
  }
}
