.html {
  &-code {
    position: relative;
    color: #FFF;

    @at-root %hover-before-after {
      display: none;

      @include not-mobile {
        position: absolute;
        bottom: 1px;
        display: block;
        color: #FFF !important;
        font-size: 14px;
        font-weight: 400;
        pointer-events: none;
        text-transform: none;
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
        white-space: nowrap;
      }
    }

    .hover-before {
      @extend %hover-before-after;

      right: calc(100% + 5px);
    }

    .hover-after {
      @extend %hover-before-after;

      left: calc(100% + 5px);
    }
  }

  &-element {
    color: #EF596F;
  }

  &-attribute {
    color: #D19A66;
  }

  &-key {
    color: #89CA78;
  }

  &-comment {
    color: #7F848E;
  }
}
