#footer-notes {
  @include not-mobile {
    position: fixed;
    bottom: 10px;
    left: 10px;
    overflow: hidden;
    max-width: 185px;
    padding: 18px 0 18px 3ch;
    font-size: 10px;
    line-height: 18px;
  }

  @include mq(950, min) {
    max-width: 208px;
    font-size: 12px;
  }

  @each $resolution, $maxWidth in (
    1000: 228px,
    1100: 270px,
    1200: 320px,
    1300: 370px,
    1350: 400px,
    1400: 430px,
  ) {
    @include mq($resolution, min) { max-width: $maxWidth; }
  }

  @at-root %aside-before-after {
    position: absolute;
    left: 0;
    line-height: 18px;
    white-space: pre;
  }

  &:before {
    @extend %aside-before-after;

    top: 0;
    content: "/**\A  *  \A  *  \A  *  \A  *  \A  *  \A  *  \A  *  \A  *  \A  *  \A  *  \A  *  \A  *  \A  *  \A  *  \A  *  \A  *  ";
  }

  &:after {
    @extend %aside-before-after;

    bottom: 0;
    content: " */";
  }

  p {
    margin: 0;
  }
}
