a {
  color: #FFF;

  @include not-mobile {
    color: #2BBAC5;
  }

  aside & {
    color: #7F848E;
  }

  &:not(.promo-box) {
    &:hover {
      @include not-mobile {
        border-bottom-color: #2BBAC5;
        background-color: #2BBAC5;
        color: #FFF;

        aside & {
          border-bottom-color: #7F848E;
          background-color: #7F848E;
          color: #282C34;
        }
      }
    }
  }

  &.html-code {
    &:hover {
      @include not-mobile {
        border-bottom-color: #FFF;
        background-color: #FFF;
        color: #282C34;
      }
    }
  }

  &.mobile-cta {
    @include mobile {
      color: #EF596F;
    }
  }
}
