.promo-box {
  border: 1px solid rgba(95, 95, 95, .78);
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
  transition: transform .2s, box-shadow .2s;

  &:hover {
    box-shadow: .4rem .4rem 0 #525355;
    text-decoration: none;
    transform: translate(-.4rem, -.4rem);
  }

  @include mobile {
    max-width: 90%;
    order: 1;
    margin: 5%;
  }

  @include not-mobile {
    max-width: 500px;
    margin: 0 auto 3ch;
  }

  &-header {
    padding: .5rem 0;
    border-bottom: 1px solid rgba(95, 95, 95, .78);
    background-color: transparent;
    color: #CCC;
    text-align: center;
  }

  &-body {
    display: flex;
  }

  &-ad {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    p {
      margin: 0;
    }

    strong {
      @include not-mobile {
        white-space: nowrap;
      }
    }
  }

  &-media {
    display: flex;
    min-width: calc(32px + 1rem);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-right: 0;

    img {
      max-width: 32px;
    }
  }
}
