$promo-box-border: 1px solid rgba(255, 255, 255, .1);

.promo-box {
  border: $promo-box-border;
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
  transition: transform .2s, box-shadow .2s;

  &:hover {
    box-shadow: .4rem .4rem 0 rgba(255, 255, 255, .15);
    text-decoration: none;
    transform: translate(-.4rem, -.4rem);

    .--context-menu-open & {
      box-shadow: none;
      transform: none;
    }
  }

  @include mobile {
    max-width: 90%;
    order: 1;
    margin: 5%;
  }

  @include not-mobile {
    max-width: 500px;
    margin: 0 auto 3ch;
  }

  &-header {
    padding: .5rem 0;
    border-bottom: $promo-box-border;
    background-color: transparent;
    color: rgba(255, 255, 255, .7);
    text-align: center;
  }

  &-body {
    display: flex;
  }

  &-ad {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    p {
      margin: 0;
    }

    strong {
      @include not-mobile {
        white-space: nowrap;
      }
    }
  }

  &-media {
    display: flex;
    min-width: calc(32px + 1rem);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-right: 0;
  }
}
